.img1 {
  width: 200px;
}

.navbar {
  background-color: #B1000E;
  width: 100% !important;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .55);
  border: 4px solid red !important;
  border-color: rgb(255, 255, 255) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 5.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

a.nav-link {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: white !important;
  justify-content: left;
  align-items: center;
  padding: 0 15px !important;
  font-family: inherit ; 
  font-size: inherit;
  line-height: inherit;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .55);
  border: 4px solid red !important;
  border-color: rgb(255, 255, 255) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 5.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 360px) {
  .ribbon.basic-information-label.left {
    position: relative;
    float: left;
  }

  .ribbon.basic-information-label.right {
    position: relative;
    float: right;
  }
}

@media (max-width: 800px) {
  a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    color: white !important;
    justify-content: left;
    align-items: center;
    padding: 9px 15px !important;
    font-family: inherit ; 
    font-size: inherit;
    line-height: inherit;
    display:inline-block;
  }
}

@media only screen and (min-device-width: 50px) and (max-device-width: 320px) {
  .img1 {
    width: 100px;
  }

  a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    color: white !important;
    justify-content: left;
    align-items: center;
    padding: 9px 15px !important;
    font-family: inherit ; 
  font-size: inherit;
  line-height: inherit;
  }
}

@media only screen and (min-device-width: 351px) and (max-device-width: 480px) {
  a.nav-link {
    display: flex;
    color: white !important;
    justify-content: left;
    align-items: center;
    padding: 9px 15px !important;
    font-family: inherit ; 
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 350px) {
  a.nav-link {
    display: flex;
    color: white !important;
    justify-content: left;
    align-items: center;
    padding: 9px 15px !important;
    font-family: inherit ; 
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  overflow: hidden;
  }
}

@media only screen and (min-device-width: 801px) and (max-device-width:991px) {
  a.nav-link {
    display: flex;
    color: white !important;
    justify-content: left;
    align-items: center;
    padding: 9px 15px !important;
    font-family: inherit ; 
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  overflow: hidden;
  }
}